build/
out/
cmake-build-*/

generated/
.antlr/

vcpkg_installed/

.vs/
.vscode/

*.exe
*.dll
*.pdb
*.obj
*.ilk
*.lib
*.exp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
*.ninja_deps
*.ninja_log
Testing/
CTestTestfile.cmake

.DS_Store
Thumbs.db

dist/

# Release artifacts
/dist/
/release_temp/
/temp_check/
*.zip

