proc Request(c, w1, w2, s) {
    s.start=0;
    s.start -> w1.start;
    s.start -> w2.start;

    w1.r = 7;
    w2.r = 5;

    race s[k] : w1.r , w2.r -> s.ans;

    if (s[k]) {
        s.ans -> c.res;
        s -> c[FromW1];
        discharge s[k] : w2 -> s.lost;
    } else {
        s.ans -> c.res;
        s -> c[FromW2];
        discharge s[k] : w1 -> s.lost;
    }
}

main {
    call Request(c, w1, w2, s);
}